@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark {
  --background: black;
  --foreground: white;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    h2 {
      color: blue;
      background: var(--foreground);
    }
    
    h3 {
      color: var(--background);
      background: var(--foreground);
    }
  }
  .dark {
    --background: black;
    --foreground: white;
    h2 {
      color: var(--foreground);
      background: var(--background);
    }
    
    h3 {
      color: var(--foreground);
      background: var(--background);
    }
    section {
      color: var(--foreground);
      background: var(--background);
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;

}

